# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/*.key
/storage/app/private/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/
 
# Environment
.env
.env.*
!.env.example
 
# Database
/database/database.sqlite
/database/database.sqlite-wal
/database/database.sqlite-shm
 
# Vite
.vite/
 
# Misc
.DS_Store
Thumbs.db
*.log
 
# WA Bot
/wa-bot/node_modules/
/wa-bot/auth_info/